<%= render "form" %>

<!-- other card -->
 <div class="row justify-content-center">
    <h1> Your posts</h1>
 </div><br>





<% @posts.each do |post| %>
    <div class="container post-card">    
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pb-5">
                <div class="card border rounded-2">
            
                    <div class="card-header p-0">
                        <div class="custom-bg text-white text-center py-2">
                            <h5> <%= post.title %></h5>                         
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <div class="form-group">
                            <div class="input-group mb-2">
                            <p style="font-size: 18px"><%= post.body%></p>    
                            </div>
                        </div>
                        <%= link_to "Edit", edit_post_path(post), class: "btn btn-primary" %>
                        <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete the article ?"}, class: "btn btn-danger" %>
                    </div>
                  
                    
                </div>
            
            </div>
        </div>
    </div>
<% end %>