<nav class="navbar navbar-expand-md navbar-dark" style= "background-color: #3b59b6">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
         <% if user_signed_in? %>
            <li class="nav-item active">
               
                    <%= link_to "Home",  authenticated_root_path, class: "nav-link" %>
        
            </li>
            <li class="nav-item">
                <%= link_to "All Users", users_path, class: "nav-link" %>
            </li>
        <% end %>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">SocialApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
                <li class="nav-item"><%= link_to current_user.full_name, user_path(current_user), class: "nav-link" %></li>
                <% if current_user.friend_requests.count > 0 %>
                    <%= link_to ('<i class="fa fa-bell" style="color: yellow" aria-hidden="true"></i>').html_safe, users_path, class: "nav-link" %>
                    <span id="notification"><%=  current_user.friend_requests.count %></span>
                    
                <% end%>    
            <% end %>
            <% if user_signed_in? %>  
              <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
            <% else %>  
              <li class="nav-item"><%= link_to "Join", new_user_registration_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: "nav-link" %></li>
            <% end %>
            
        </ul>
    </div>
</nav>
